.App {
  text-align: center;
  background-color: #333333;
  font-family: 'Ubuntu', sans-serif;

}
/* 
.Modal {
  position: absolunpm te;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rebeccapurple;
} */

.App-header {
  background-color: #333333;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.next-up {
  color: white;
}

.Body {
  background-color: black;
}

.Footer {
  background-color: #333333;
}